.searchBar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem ;
}

.search-inside{
    width: 362px;
    height: 50px;
    background: linear-gradient(0deg, #4062bd 0%, #060d93 100%);
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 24px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: linear-gradient(-20deg, #060d93 0%, #02096b 100%);
}

.search-icon{
    width: 24px;
}

.data-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-detail-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.main-card{
    width: 33%;
}

.cards {
    display: flex;
    gap: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}